<div>
  <div class="col-md-4"  style="margin: auto">
    <div class="card mb-3 mr-auto">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="https://i.pinimg.com/originals/06/9d/b3/069db306a51f74c8463fa0a2f5d25fbf.jpg"
            class="card-img"
            alt="Datapad image"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-center">News/Site Contact</h5>
            <p class="card-text text-center">
              Find out whats going on around here! This is where I will post
              future things I will be putting into the site, such as the ability
              to add scenario cards to your lists. Other than that this is just
              a general area for me to get a hold of you if I need to.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin:auto">
<div>
  <div class="col-md-4"  style="margin: auto">
    <div class="card mb-3 mr-auto">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="https://i.pinimg.com/originals/06/9d/b3/069db306a51f74c8463fa0a2f5d25fbf.jpg"
            class="card-img"
            alt="Datapad image"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-center">View Lists</h5>
            <p class="card-text text-center">
              This is where you will be able to view all lists that are set as non-private, or
              view all your own personal lists. You'll also be able to update any and all of your own
              previous lists as well as create more!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="col-md-4" style="margin:auto">
    <div class="card mb-3 mr-auto">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="https://i.pinimg.com/originals/06/9d/b3/069db306a51f74c8463fa0a2f5d25fbf.jpg"
            class="card-img"
            alt="Datapad image"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-center">Login/Register</h5>
            <p class="card-text text-center">
              Login to your profile! Or if you haven't created one yet, feel free to create one now.
              If you don't want to register don't worry, you can still create lists, you just wont
              be able to save any of them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
